<launch>
  <!-- Launch Gazebo with the specified world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="debug" value="0" />
    <arg name="gui" value="true" />
    <arg name="use_sim_time" value="true" />
    <arg name="headless" value="false" /> -->
    <arg name="world_name" value="$(find perception)/project3.world" />
  </include>

  <include file="$(find jackal_description)/launch/description.launch">
    <arg name="config" value="front_laser" />
  </include>
  <include file="$(find jackal_control)/launch/control.launch" />

  <!-- Spawn Jackal -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model jackal -param robot_description -x 0 -y 0 -z 1.0" />

  <!--- Run gmapping -->
  <include file="$(find jackal_navigation)/launch/include/gmapping.launch" />

  <!--- Run Move Base -->
  <include file="$(find jackal_navigation)/launch/include/move_base.launch" />

  <!-- Run Rviz with gmapping configuration-->
  <param name="use_gui" value="true"/>
  <arg name="config" default="gmapping" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jackal_viz)/rviz/$(arg config).rviz" />

  <node pkg="perception" name="d3_points_server" type="d3_points_service.py"  output="screen"/>
  <node pkg="perception" name="d3_nav" type="d3_nav.py"  output="screen"/>
</launch>
