<launch>

<!--LiDAR (URDF and wrapper)-->
  <include file="$(find test_build)/src/launch/description.launch" />

  <!--- Run gmapping -->
  <include file="$(find test_build)/src/launch/gmapping.launch" />


  <!-- Run Rviz with default configuration-->
  <param name="use_gui" value="true"/>
  <arg name="config" default="robot" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jackal_viz)/src/scripts/rvizconfig/$(arg config).rviz" />

</launch>
