<launch>

  <!--- Run gmapping -->
  <include file="$(find test_build)/src/launch/gmapping.launch" />

  <!--- Run Move Base -->
  <include file="$(find jackal_navigation)/launch/include/move_base.launch" />

  <!-- Run Alvar Launch-->
  <include file="$(find test_build)/src/launch/alvar.launch" />


  <!-- Set Sim Time Param false-->
  <param name="use_sim_time" type="boolean" value="false" />

  <!-- Launch Bluetooth-->
 <node pkg="test_build" name="bluetooth_pub" type="bluetooth_pub.py" output="screen"/>

  <!-- Launch Bluetooth-->
 <node pkg="test_build" name="alvar_pub" type="alvar_pub.py" output="screen"/>

<group ns="navigation">
    <node pkg="test_build" name="hunting" type="hunting.py" output="screen"/>
 </group>

</launch>
